# Python
__pycache__/
*.pyc
*.log
*.sqlite3
.venv
venv/

# Docker
# O volume persistente do BD não deve subir!
postgres_data/

# MacOS/Windows cache
.DS_Store
Thumbs.db

# Logs e Arquivos de Ambiente (se for usar um .env)
*.env